# OS Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
.qodo/
*.sublime-project
*.sublime-workspace

# Temporary Files
*.log
*.tmp
*~

# Dependencies
vendor/
node_modules/

# Test Configs
.phpcs.xml
phpunit.xml
coverage.xml
.phpunit.result.cache

